{% extends "layout.html" %}
{% block content %}
{% for user in users_requesting %}
        <article class="media content-section" id="requestwaiting {{ user.id }}">
             <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}">
          <div class="media-body">
                          <a class="mr-2" href="{{ url_for('user_account' , username= user.username) }}">{{ user.username }}</a>
<h2><a class="article-title" >{{ user.username }}</a></h2>
            <p class="article-content" style="color: #707171 ; "> oops! </p>
          </div>
          <div id="acceptedornot" class="">
            <button class="btn btn-success btn-sm mt-1 mb-1" onclick="acceptrequest('accept', {{ user.id }} )">Accept request</button>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        </article>
         <!-- Modal href="{{ url_for('accept_or_delete' , user_choice='accept' , follower_id=user.id) }}" -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="color: #f2d4bc;">
      <div class="modal-content" style="color: #f2d4bc;">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete {{ user.username }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('accept_or_delete', follower_id=user.id , user_choice='delete') }}" method="GET">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
</div> 
        
{% endfor %}
{% endblock content %}