{% extends "layout.html" %}
{% block content %}
<body style="text-align: center">

<title>Idea {{object.name}}</title>
<p>Project was created by {{object.inventor.name}} {{object.inventor.surname}} for {{object.department}}</p>

<p>You can be interested if your familiar <b>areas</b> are:</p>
<div class="media-body">
   <ul>
   {% for result in objects.areas %}
       <li>{{result}}</li>
   {%endfor%}
   </ul>
</div>

<hr>
<h2>Likes: {{object.likes}} Dislikes {{object.dislikes}}</h2>

<hr>
<p>In order to participate in a future project, you need to have such <b>skills</b> as :</p>
<div class="media-body">
   <ul>
   {% for result in objects.skills %}
       <li>{{result}}</li>
   {%endfor%}
   </ul>
</div>

</body>
{% endblock content %}
